html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-header {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    background-color: #f8f9fa;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-outline-secondary {
    border-color: #0072ff;
    color: #0072ff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .btn-outline-secondary:hover {
        background-color: #e0f7ff;
        color: #0056b3;
        transform: scale(1.05);
    }

.btn-primary {
    background-color: #0072ff;
    border-color: #0056b3;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
